body{
  background-color: black;
  color: gold;
  padding: .5rem;
}

.container{
  min-height: 100vh;
  border: 2px dotted gold;
  padding: .5rem;
}

.header,
.details,
.section{
  text-align: center;
}


//HEADER
.header{
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.main-header{
  font-size: 5em;
  margin-bottom: 0;
  font-weight: bold;
  line-height: 1;

  &-secondary{
    font-weight: bold;
    font-size: 3.25em;
    line-height: 1;
    margin-bottom: 1rem;
  }
}


//SECTIONS
.section{
  flex: 0 1 auto;
  padding: 2rem;

  &-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-header{
    font-size: 3rem;
    line-height: 1;
  }
}

.time{
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  line-height: 1;
}

.location{
  &-txt{
    margin: 0;
  }
}

.details{
  margin-bottom: 2rem;
  &-txt{
    margin: 0;
  }
}


//BUTTONS
.btn{
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.08em;
  border: 2px solid gold;

  &-primary{
    background-color: gold;
    color: black;

  }

  &-secondary{
    border-style: dotted;
    color: gold;
  }

  &-group{
    text-align: center;

    .btn{
      margin: 1rem;
    }
  }
}

@media (max-width: 768px){
  .main-header,
  .main-header-secondary{
    font-size: 2em;
  }

  .main-subheader{
    font-size: 1em;
  }

  .section-header{
    font-size: 1.5em;
  }

  .details-txt{
    font-size: .875em;
  }
}
